@import url('https://fonts.googleapis.com/css2?family=Lato:wght@900&family=Libre+Baskerville&family=Montserrat:wght@700&display=swap');
.nav-wrapper {background-color: #562020;}

.background-grey {background-color: #EDEAEA;}
.brand-logo img {
    width: 100px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 50px;
 }

.hero-img {
    width: 100vw;
    height: 100%; 
    background-size: cover;
}


.list {list-style: none;}
.card-image {width: 100%; height:auto;}

  .video {
    aspect-ratio: 16 / 9;
    width: 100%;
  }
  .header-bold-text {font-weight: bold;
    font-size: 18pt; color: #562020;}
  .bold-text {font-weight: bold;
    font-size: 14pt; color: #562020;}
    .body-text {
      font-size: 14pt; color: black;}
  .center-text {text-align: center;}
.margin {margin-left: 20px; margin-right: 20px;}
  .page-footer {background-color: #562020;}

  

  